.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 90vh;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}

.loading {
  height: 90vh;
  z-index: 3;
}
